<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.clip.gwr.vo.GianVo" alias="GianVo"/>
		<typeAlias type="com.clip.gwr.vo.UserVo" alias="UserVo"/>
		<typeAlias type="com.clip.gwr.vo.UserinfoVo" alias="UserinfoVo"/>
		<typeAlias type="com.clip.gwr.vo.DeptVo" alias="DeptVo"/>
		<typeAlias type="com.clip.gwr.vo.RanksVo" alias="RanksVo"/>
		<typeAlias type="com.clip.gwr.vo.PositionsVo" alias="PositionsVo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="sqls/GianTemplate.xml"/>
		<mapper resource="sqls/User_Statement.xml"/>
		<mapper resource="sqls/Dept_Statement.xml"/>
		<mapper resource="sqls/Ranks_Statement.xm"/>
		<mapper resource="sqls/Positions_Statement.xml"/>
	</mappers>
</configuration>
