<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.clip.gwr.vo.GianVo" alias="GianVo"/>
		<typeAlias type="com.clip.gwr.vo.GianMarkVo" alias="GianMarkVo"/>
		<typeAlias type="com.clip.gwr.vo.UserVo" alias="UserVo"/>
		<typeAlias type="com.clip.gwr.vo.UserinfoVo" alias="UserinfoVo"/>
		<typeAlias type="com.clip.gwr.vo.ApprovalVo" alias="ApprovalVo"/>

		<typeAlias type="com.clip.gwr.vo.FileVo" alias="FileVo"/>
		<typeAlias type="com.clip.gwr.vo.PageVo" alias="PageVo"/>
		<typeAlias type="com.clip.gwr.vo.DailyCheckVo" alias="DailyCheckVo"/>
        <typeAlias type="com.clip.gwr.vo.DeptVo" alias="DeptVo"/>
		<typeAlias type="com.clip.gwr.vo.PositionsVo" alias="PositionsVo"/>
		<typeAlias type="com.clip.gwr.vo.RanksVo" alias="RanksVo"/>
		<typeAlias type="com.clip.gwr.vo.AccesslogVo" alias="AccesslogVo"/>
		<typeAlias type="com.clip.gwr.vo.SignsVo" alias="SignsVo"/>
		<typeAlias type="com.clip.gwr.vo.ScheduleVo" alias="ScheduleVo"/>
		<typeAlias type="com.clip.gwr.vo.ReservationVo" alias="ReservationVo"/>
		<typeAlias type="com.clip.gwr.vo.MeeTingRoomVo" alias="MeeTingRoomVo"/>
		<typeAlias type="com.clip.gwr.vo.NtcVo" alias="NtcVo"/> <!-- 03/21 -->
		<typeAlias type="com.clip.gwr.vo.MemoVo" alias="MemoVo"/> <!-- 03/15 -->
		<typeAlias type="com.clip.gwr.vo.ProjectsVo" alias="ProjectsVo"/> <!-- 03/25 -->
		<typeAlias type="com.clip.gwr.vo.ReAttendsVo" alias="ReAttendsVo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="sqls/GianTemplate.xml"/>
		<mapper resource="sqls/User_Statement.xml"/>
		<mapper resource="sqls/FileUpload_Statement.xml"/>
		<mapper resource="sqls/ApprovalStatement.xml"/>		
		<mapper resource="sqls/DailyCheck_Statement.xml"/>
        <mapper resource="sqls/Dept_Statement.xml"/>
		<mapper resource="sqls/Positions_Statement.xml"/>
		<mapper resource="sqls/Ranks_Statement.xml"/>
		<mapper resource="sqls/Accesslog_Statement.xml"/>
		<mapper resource="sqls/Signs_Statement.xml"/>
		<mapper resource="sqls/Reservation_Statement.xml"/>
		<mapper resource="sqls/Memo_Statement.xml"/> <!-- 03/15 -->
		
		<mapper resource="sqls/Projects_Statement.xml"/> <!-- 03/25 -->
	</mappers>
</configuration>
