body {
	background-image: url("../img/loginback.png"); /* 이미지 파일의 상대 경로 */
	background-size: cover; /* 화면에 꽉 차도록 이미지 크기 조절 */
	margin: 0; /* body의 기본 margin 제거 */
	padding: 0; /* body의 기본 padding 제거 */
	font-family: Arial, sans-serif; /* 폰트 지정 */
}

.container {
	max-width: 500px;
	max-height: 2000px;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.additional-image {
	width: 300px;
	position: relative;
	margin-bottom: 20px auto; /* 위쪽으로 10px, 아래쪽으로 마진 없음 */
	margin-top: 250px;
}

.input-field {
	width: 300px;
	height: 36px;
	border-radius: 20px;
	box-sizing: border-box;
	margin-top: 10px;
}

.input-field {
	position: relative;
}

.input-field input {
	padding-left: 20px; /* 왼쪽에 10px의 패딩을 추가하여 텍스트를 왼쪽으로 이동 */
}

.button {
	width: 300px;
	height: 36px;
	border-radius: 20px;
	box-sizing: border-box;
	background-color: #ECB53B;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	margin-top: 20px;
}

/* 버튼 호버 효과 */
.button:hover {
	background-color: #0056b3;
}

.links {
    margin-top: 15px; /* 링크들의 상단 여백 */
}

.links a {
    text-decoration: none;
    color: white; /* 흰색으로 변경 */
    margin-right: 10px; /* 링크들 사이의 간격 조정 */
    position: relative;
}

.links a:hover {
    text-decoration: none; /* 호버 시 밑줄 제거 */
}