body {
	margin: 0; /* body의 기본 margin 제거 */
	padding: 0; /* body의 기본 padding 제거 */
	font-family: Arial, sans-serif; /* 폰트 지정 */
}

.container {
	margin: 0 auto;
	margin-top: 77px;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.mg_top15 {
	margin-top: 15px;
}


.additional-image {
	width: 300px;
	position: relative;
	margin-bottom: 20px auto; /* 위쪽으로 10px, 아래쪽으로 마진 없음 */
	margin-top: 250px;
}

select {
	height: 36px;
}

.input-field {
	width: 185px;
	height: 36px;
	box-sizing: border-box;
	margin-top: 10px;
}

.input-field {
	position: relative;
}

.input-field input {
	padding-left: 20px; /* 왼쪽에 10px의 패딩을 추가하여 텍스트를 왼쪽으로 이동 */
}

.button {
	width: 126px;
	height: 36px;
	box-sizing: border-box;
	background-color: #ECB53B;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

/* 버튼 호버 효과 */
.button:hover {
	background-color: #0056b3;
}

.links {
    margin-top: 15px; /* 링크들의 상단 여백 */
    color: white; /* 흰색으로 변경 */
}

.links a:hover {
    text-decoration: none; /* 호버 시 밑줄 제거 */
}